.auto-margin {
    margin: auto;
}

.early-click-message-container {
    margin-top: 1em;
    margin-bottom: 2em;
}

.buzzer-container {
    display: flex;
    padding-top: 1.5em;
}

.buzz-button-container {
    display: flex;
    border-radius: 50%;
    height: 10em;
    width: 12em;
    border-color: red;
}

.buzz-button {
    width: 100%;
    height: 100%;
    font-size: 2em;
    color: white;
    background-color: red;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0.1em -0.1em #404040;

    &:hover {
        background-color: red;
        border-color: red;
    }

    &:disabled {
        background-color:black;
        border-color: black;
        color: white;
    }
}
